.DS_Store
emacs/Windows/emacs_config/.auto-save-list
emacs/Windows/emacs_config/.emacs.d/elpa
emacs/.emacs.d/persistent
emacs/.emacs.d/elpa
emacs/.emacs.d/url/cookies
emacs/.emacs.d/auto-save-list
*.elc
emacs/.emacs.d/ido.last
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/projectile-bookmarks.eld


